header {
  padding: 16px 0;
  margin-bottom: 20px;
  min-height: 50px;

  figure {
    width: 220px;
    height: 75px;

    img {
      width: 100%;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .icon__bag {
    position: relative;

    span {
      position: absolute;
      top: 20px;
      left: 25px;
    }

    svg {
      width: 60px;
      height: 45px;
    }
  }
}