header {
  padding: 16px 0;
  margin-bottom: 20px;
  min-height: 50px;

  figure {
    width: 220px;
    height: 75px;

    img {
      width: 100%;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .icon__bag {
    svg {
      width: 50px;
      height: 38px;
    }
  }
}